---
import Layout from "../layouts/Layout.astro";
---

<Layout titulo="titulo" metadescripcion="descripcion">
  <!-- hero -->
  <div class="caixa mt-36">
    <div class="text-center">
      <h1 class="h-45">Colabora no proxecto</h1>
      <div class="max-w-2xl mx-auto">
        <p>
          Benvidas, benvidos e benvides ao paseo Ruth e o Leviatán, organizado polo Concello de Santiago con motivo dos cen anos da primeira visita da fotógrafa
          norteamericana Ruth Matilda Anderson á Galiza e a Compostela.
        </p>
      </div>
    </div>
  </div>

  <div class="caixa max-w-4xl bg-amber-300 py-24 mt-24">
    <label for="x">Nome</label>
    <input class="colabora" placeholder="O teu nome" type="text" name="nome" id="nome" />
    <label for="x">Email</label>
    <input class="colabora" placeholder="O teu email" type="text" name="nome" id="nome" />
    <label for="x">Mensaxe</label>
    <textarea class="colabora" rows="9" placeholder="Cóntanos!" name="mensaxe" id="mensaxe"></textarea>
    <!-- adxuntar -->
    <button class="flex items-center justify-center gap-3 p-6 mt-16 border-4 border-amber-100 w-full text-center">
      <div>
        <svg class="fill-none stroke-black stroke-2 size-8" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round">
          <path d="M13.234 20.252 21 12.3"> </path>
          <path d="m16 6-8.414 8.586a2 2 0 0 0 0 2.828 2 2 0 0 0 2.828 0l8.414-8.586a4 4 0 0 0 0-5.656 4 4 0 0 0-5.656 0l-8.415 8.585a6 6 0 1 0 8.486 8.486">
          </path>
        </svg>
      </div>
      <div>Adxuntar arquivos (opcional)</div>
    </button>
    <!-- acordo -->
    <label for="x" class="flex gap-3 items-center mt-16">
      <input class="size-9 border-4 border-amber-100 bg-transparent" type="checkbox" name="legal" id="legal" />
      Lin e acepto os <a href="/legal" class="underline underline-offset-4">Termos legais</a>
    </label>
    <!-- envío -->
    <button class="bg-black p-8 text-center block w-full text-amber-100 mt-16">Enviar!</button>
  </div>
</Layout>
