---
import Layout from "../layouts/Layout.astro";
---

<Layout titulo="titulo" metadescripcion="descripcion">
  <!-- hero -->
  <div class="caixa max-w-5xl mt-36">
    <h1 class="h-45">Textos Legais</h1>
    <!-- Directus bloque -->
    <div class="cuerpo">
      <h2>Un dos</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad, ipsam sapiente nesciunt illum commodi dolorum quas quibusdam porro vel beatae
        necessitatibus dolorem quam consequatur aliquid sit possimus, eveniet maxime eligendi!
      </p>
      <p>
        Benvidas, benvidos e benvides ao paseo Ruth e o Leviatán, organizado polo Concello de Santiago con motivo dos cen anos da primeira visita da fotógrafa
        norteamericana Ruth Matilda Anderson á Galiza e a Compostela.
      </p>
      <h3>Un tres</h3>
      <p>
        Benvidas, benvidos e benvides ao paseo Ruth e o Leviatán, organizado polo Concello de Santiago con motivo dos cen anos da primeira visita da fotógrafa
        norteamericana Ruth Matilda Anderson á Galiza e a Compostela.
      </p>
      <h4>Un cuatro</h4>
      <p>
        Benvidas, benvidos e benvides ao paseo Ruth e o Leviatán, organizado polo Concello de Santiago con motivo dos cen anos da primeira visita da fotógrafa
        norteamericana Ruth Matilda Anderson á Galiza e a Compostela.
      </p>
    </div>
  </div>
</Layout>
