---
import Parada from "../components/parada.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout titulo="titulo" metadescripcion="descripcion">
  <!-- Selector de roteiro -->
  <div class="caixa">
    <div class="flex *:flex-1 text-center">
      <div class="border-b-4 border-black py-12 relative">
        <a href="#" class="font-bold text-black">Roteiro global</a>
        <div class="hidden absolute bottom-6 left-1/2 -translate-x-1/2 size-3 bg-black rounded-full"></div>
      </div>
      <div class="border-b-4 border-black py-12 relative">
        <a href="#" class="text-amber-600">Roteiro*</a>
        <div class="hidden absolute bottom-6 left-1/2 -translate-x-1/2 size-3 border border-amber-800 rounded-full"></div>
      </div>
    </div>
  </div>
  <!-- hero roteiro -->
  <div class="caixa">
    <div class="flex flex-col xl:flex-row items-center gap-6 xl:gap-20">
      <div class="flex-1">
        <h1 class="h-45 mt-20 xl:mt-0">Roteiro global</h1>
        <p>
          Benvidas ao paseo Ruth, organizado polo Concello de Santiago con motivo dos cen anos da primeira visita da fotógrafa norteamericana Ruth Matilda
          Anderson á Galiza e a Compostela. Estas son as doce localizacións que nos serven para seguir os seus pasos pola cidade.
        </p>
      </div>
      <div class="flex-1">
        <div class="relative my-12 overflow-hidden bg-amber-300 p-3">
          <img src="/mapa.webp" alt="" />
        </div>
      </div>
    </div>
  </div>
  <!-- Paradas -->
  <Parada tit="Praza de Fuenterrabía" num="1" />
  <Parada tit="Cantón do Toural" num="2" />
  <Parada tit="Tras San Fiz de Solovio" num="3" />
  <Parada tit="Praza de Abastos" num="4" />
  <Parada tit="Rúa das Casas Reais" num="5" />
  <Parada tit="Praza da Quintana" num="6" />
  <!-- Colabora -->
  <div class="caixa">
    <div class="border-t-4 border-black py-12">
      Tes algunha parada máis en mente? <a href="/colabora" class="font-bold underline underline-offset-4">Colabora</a>
    </div>
  </div>
</Layout>
