<div class="caixa max-w-none">
  <div class="flex border-b-4 border-black py-12">
    <div class="flex-1">
      <a href="/" class="font-extrabold text-2xl text-black">
        Camiños Falados <span class="text-red-500">A Rúa</span>
      </a>
    </div>
    <div>
      <ul class="flex gap-6">
        <li><a href="/roteiros">Roteiros</a></li>
        <li><a href="/historia">Historias</a></li>
        <li><a href="/colabora">Colabora</a></li>
      </ul>
    </div>
  </div>
</div>
