<div class="caixa max-w-none">
  <div class="flex border-b-4 border-black py-6 items-center">
    <div class="flex-1">
      <a href="/" class="font-extrabold text-2xl text-black">
        Camiños Falados <span class="text-red-500">da Rúa</span>
      </a>
    </div>
    <div>
      <ul class="flex gap-6">
        <li><a href="/historia">Historias</a></li>
        <li><a href="/roteiros">Roteiros</a></li>
      </ul>
    </div>
    <div class="flex-1">
      <a class="py-6 px-12 bg-amber-300 block ml-auto max-w-60 text-center" href="/colabora">Colabora</a>
    </div>
  </div>
</div>
