---
import Slider from "./slider.astro";
interface Props {
  tit: string;
  num: string;
}
const { tit, num } = Astro.props;
---

<div class="caixa">
  <div class="border-t-4 border-black" x-data="{ expanded: false }">
    <!-- Banda -->
    <div class="flex gap-20 py-12">
      <!-- Número -->
      <div class="w-80 text-3xl font-extrabold">{num}</div>
      <!-- Títular -->
      <div class="flex-1 text-3xl">
        <h2>{tit}</h2>
      </div>
      <div>
        <button @click="expanded = ! expanded">
          <svg class="fill-none stroke-black stroke-2 size-9" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round">
            <path d="m6 9 6 6 6-6"></path>
          </svg>
        </button>
      </div>
    </div>
    <!-- Contenido -->
    <div x-show="expanded" x-collapse>
      <!-- Slider -->
      <div>
        <Slider />
      </div>

      <!-- sidebar y texto -->
      <div class="flex gap-20 pt-12 pb-36">
        <!-- Número -->
        <div class="w-80 pt-6">
          <strong class="block">+ info:</strong>
          <p>
            <a href="#" class="underline ring-offset-4 block mb-3">Lorem ipsum dolor sit amet</a>
            <a href="#" class="underline ring-offset-4 block mb-3">Odit numquam</a>
          </p>
        </div>
        <!-- Títular -->
        <div class="flex-1">
          <!-- Reproductor (si hay audio) -->
          <div class="bg-amber-300 px-12 py-6 mt-6 mb-12">
            <div class="flex items-center gap-6">
              <div>
                <svg class="fill-black stroke-black size-9" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round">
                  <polygon points="6 3 20 12 6 21 6 3"></polygon>
                </svg>
              </div>
              <div>
                <svg class="fill-none stroke-black size-20" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M2 10v3"></path>
                  <path d="M6 6v11"></path>
                  <path d="M10 3v18"></path>
                  <path d="M14 8v7"></path>
                  <path d="M18 5v13"></path>
                  <path d="M22 10v3"></path>
                </svg>
              </div>
              <div class="flex-1">
                <div class="border-t-4 border-black"></div>
              </div>
            </div>
          </div>
          <!-- Texto -->
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde ducimus veniam dolores debitis commodi aliquid maxime ipsum, eligendi totam ullam
            excepturi sunt, ut ea qui corrupti cumque consequatur architecto aperiam. Excepturi sunt, ut ea qui corrupti cumque consequatur architecto aperiam.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, aut. Quidem minus nemo sed beatae mollitia ad pariatur molestiae, accusantium
            neque recusandae porro? Deleniti officia facilis nulla eos obcaecati suscipit.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde ducimus veniam dolores debitis commodi aliquid maxime ipsum, eligendi totam ullam
            excepturi sunt, ut ea qui corrupti cumque consequatur architecto aperiam. Excepturi sunt, ut ea qui corrupti cumque consequatur architecto aperiam.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
