---
import "swiper/css";
import { Image } from "astro:assets";

interface Props {
  galeria: number[];
}
const { galeria } = Astro.props;
---

<div>
  <div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper items-stretch">
      <!-- Slides -->
      {
        galeria.map((g, i) => {
          const url = "http://panel.camiñosfaladosdarua.gal/assets/" + g.directus_files_id.id;
          return (
            <div class="swiper-slide">
              <div>
                <Image src={url} alt={g.directus_files_id.title} />
                <small>{g.directus_files_id.title}</small>
              </div>
            </div>
          );
        })
      }
    </div>
  </div>
</div>

<script>
  import Swiper from "swiper";
  // modulos:
  import { Navigation } from "swiper/modules";
  // init Swiper:
  const swiper = new Swiper(".swiper", {
    modules: [Navigation],
    slidesPerView: 1.2,
    spaceBetween: 15,
    mousewheel: true,
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    breakpoints: {
      1280: {
        slidesPerView: 1.6,
        spaceBetween: 30,
      },
    },
  });
</script>
