---
// ejemplo de fuente
import "@fontsource/poppins/400.css";
import "@fontsource/poppins/500.css";
import "@fontsource/poppins/800.css";
import "@fontsource/poppins/900.css";
import "../assets/css/input.css";
import Navbar from "../components/navbar.astro";
import Footer from "../components/footer.astro";
interface Props {
  titulo: string;
  metadescripcion: string;
}
const { titulo, metadescripcion } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{titulo}</title>
    <meta name="description" content={metadescripcion} />
  </head>
  <body class="bg-amber-100">
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
